<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Counter</title>
  <script type="module" src="/js/user-counter.js"></script>
  <link rel="stylesheet" href="/styles/user-counter.css" />
</head>
<body>

  <div class="container">
    <!-- meant to be static.. ie, input a value using your backend framework of choice -->
    <!-- You could also update the attribute with JS and websockets for real time behavior -->
    <user-counter count="25">
      View more statistics <a href="#">here!</a>
    </user-counter>
  </div>
</body>
</html>
